body {
    background: #eee;
}

.card {
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #e1bee7;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom;
}

.card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #8e24aa;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom;
}

.card:hover::after {
    transform: scaleY(1);
}

.fonts {
    font-size: 20px;
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.social-list li {
    padding: 10px;
    color: #8e24aa;
    font-size: 19px;
}

.buttons button {
    border: 1px solid #8e24aa !important;
    color: #fff;
    height: 40px;
    background-color: #8e24aa;
    margin-left: 4%;
    margin-right: 4%;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 20px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}