<section id="sidebar" style="margin-left: 40%">
    <div class="border-bottom pb-2 ml-2">
        <h2 id="burgundy">Category</h2>
    </div>

    <div class="py-2 border-bottom ml-3">
        <ul class="nav nav-pills flex-column mb-auto">
            <div class="py-2 border-bottom ml-3">
                <li>
                    <a (click)="Probiotics()" class="nav-link" aria-current="page">
                        <span class="ms-2">&nbsp;Probiotics</span>
                    </a>
                </li>
            </div>
            <div class="py-2 border-bottom ml-3">
                <li>
                    <a (click)="Food_Additives()" class="nav-link" aria-current="page">
                        <span class="ms-2">&nbsp;Food Additives</span>
                    </a>
                </li>
            </div>

            <div class="py-2 border-bottom ml-3">
                <li>
                    <a (click)="Vitamins()" class="nav-link" aria-current="page">
                        <span class="ms-2">&nbsp;Vitamins</span>
                    </a>
                </li>
            </div>
            <div class="py-2 ml-3">
                <li>
                    <a (click)="allCategory()" class="nav-link" aria-current="page">
                        <span class="ms-2">&nbsp;allCategory</span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</section>
<br />

<!-- <div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white bg-dark" style="width: 250px; margin-left: 42%">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"></svg>
        <span class="fs-4">Products</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <i class="fa fa-home"></i><span class="ms-2">&nbsp;Home</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa fa-dashboard"></i><span class="ms-2">&nbsp;Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa fa-first-order"></i
        ><span class="ms-2">&nbsp;My Orders</span>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="fa fa-cog"></i><span class="ms-2">&nbsp;Settings</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa fa-bookmark"></i><span class="ms-2">&nbsp;Bookmarks</span>
                </a>
            </li>
        </ul>
        <hr />
    </div> -->