<div class="w3-main w3-content w3-padding" style="
    max-width: 1200px;
    margin-top: 100px;
    border-top: solid lightgray;
    border-bottom: solid lightgray;
  ">
    <hr />

    <div class="w3-container w3-padding-32 w3-center">
        <h2>About Us, Health Routine</h2>
        <p>
            It all start when i forget to take my med on time and an other day goes by
        </p>
        <p>and i forget to take agian ,so our web were build from that cases</p>
        <p>we want to make sure you will never forget to take any med</p>
        <br />
        <img src="https://st2.depositphotos.com/1310390/5389/v/600/depositphotos_53896945-stock-illustration-healthy-lifestyle-diet-and-fitness.jpg" alt="Me " class="w3-image" style="display: block; margin: auto" width="800 " height="533 " />
        <div class="w3-padding-32">
            <h3><b>A healthy soul in a healthy body</b></h3>
            <h4><i>Decimus Iunius Iuvenalis;</i></h4>
            <p></p>
        </div>
    </div>
</div>
<div class="container text-center"></div>