<body>
    <div id="container" *ngIf="!next">
        <div id="formcontainer">
            <form #Email="ngForm" (ngSubmit)="sendPassword(Email)">
                <p id="text">Forget Password</p>
                <input id="email" type="email" name="email" type="tel" ngModel placeholder="Email" />
                <button id="submit" type="submit">next</button>
                <hr id="hrline1" />
                <p id="text2">did not get password?</p>
                <hr id="hrline2" />
                <button id="sendPass" type="submit">send password</button>
                <p id="text3"></p>
            </form>
        </div>
    </div>
    <div class="padding-bottom-3x" *ngIf="next">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div id="forgotText">
                    <h2>Forgot your password?</h2>
                    <p>
                        Change your password in three easy steps. This will help you to secure your password!
                    </p>
                    <ol class="list-unstyled">
                        <li>
                            <span class="text-primary text-medium">1. </span>Enter your temporary password below.
                        </li>
                        <li>
                            <span class="text-primary text-medium">2. </span>enter your new password
                        </li>
                        <li>
                            <span class="text-primary text-medium">3. </span>enter again your new password for verification
                        </li>
                    </ol>
                </div>

                <form class="card mt-4" #forgetPass="ngForm" (ngSubmit)="onSubmit(forgetPass)">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="email-verification">Enter your temporary password</label
              >
              <input
                class="form-control"
                type="text"
                id="tempPassword-verification"
                ngModel
                name="tempPassword"
              />
              <label for="new-password">Enter new password</label>
                            <input class="form-control" type="password" id="new-password" ngModel name="newPassword" />
                            <label for="password">Enter again your new password</label>
                            <input class="form-control" type="password" ngModel name="password" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success" type="submit">submit</button>
                        <button class="btn btn-danger" type="button" routerLink="/login">
              Back to Login
            </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>